h1 {
  text-align: center;
}

.menu
{
display: flex;
margin: 0px;
}
li
{
  border-left: 0px solid white;

  display: inline-block;

}
a{
  padding: 20px;
  background-color: #ffca0a;
  width: 70px;
}
li:hover{
  background-color: #ffca0a;
}

li#active{
  background-color: #ffee33;
}

body{
  background-color: #99FF2D
}

p {
  text-align: center;

}
