h1, h2, h2, p, br{
  font-family: courier;
}

h1 {
  text-align: center;
}



.titel {
  position: relative;
  }

.logo {
}


li {
  border-left: 0px solid white;
  display: inline-block;

}
a
{
  margin-top: 200px;
  padding: 20px;
  width: 70px;
  padding: 20px;
  background-color: khaki;
}
a:hover{
  background-color: #ffe072;
}

.active{
  background-color: #fff26b;
}

body{
  background-color: #ACFF91
}

p {
  background-color: #ACFF91
  text-align: left;
}
.lo{
  display: flex;
  align-items: flex-end;
}
.Rb{
  display: flex;
  justify-content: flex-end;
}

.maps{
  text-align: center;
}

#oosterpark{
  text-align: left;
}

#amstelpark{
  align-self: flex-end;
}

.locaties{
  text-align: center;
}

.link {
  display: flex;
  flex-direction: column;
  background-color:	#ACFF91
}
.link > div {
  width: 100px;
  margin: 10px;
  text-align: center;
  line-height: 25px;
  font-size: 30px;
}
.amsterdam
{
  display: flex;
  justify-content: flex-end;
}
.contact{
  text-align:center;
}



.logo {
  float: left;
  display: ;
  margin-right: -615px;
  margin-top: -15px;
}

.Display {
  display: contents;
}

.dropbtn {
  background-color: #ffe072;
  color: black;
  padding: 16px;
  font-size: 16px;
  border: none;
}


.dropdown {
  position: relative;
  display: inline-block;
}


.dropdown-content {
  display: none;
  position: absolute;
  background-color: #fff26b;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}


.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {background-color: #ffe072;}

.dropdown:hover .dropdown-content {display: block;}

.dropdown:hover .dropbtn {background-color:

}

.dropdown:hover .dropbtn {background-color: #ffe072;}

.logo_align {
  float: left;
  display: ;
  margin-right: -615px;
  margin-top: -15px;
}

.nicky{
  font-family: Courier;
  font-size: 20px;
}
