h1 {
  text-align: center;
}

.menu {
  position: absolute;
  display: flex;
  margin: 0px;
}

.titel {
  position: relative;
  }

li
{
  border-left: 0px solid white;

  display: inline-block;

}
a{
  padding: 20px;
  background-color: #ffe072;
  width: 70px;
}
li:hover{
  background-color: #ffe072;
}

li#active{
  background-color: #fff26b;
}

body{
  background-color: #ACFF91
}

p {
  text-align: center;
